.tippy-box[data-animation="fade"][data-state="hidden"] {
	opacity: 0;
}
[data-tippy-root] {
	max-width: calc(100vw - 10px);
}
.tippy-box {
	position: relative;
	background-color: #000;
	color: #fff;
	border-radius: 0.5rem;
	font-size: 0.875rem;
	line-height: 1.5;
	transition-duration: 0.15s;
	white-space: normal;
	outline: 0;
	transition-property: transform, visibility, opacity;
}
.tippy-box[data-placement^="top"] {
	> .tippy-arrow {
		bottom: 0;
		&:before {
			bottom: -5px;
			left: 0;
			border-width: 6px 6px 0;
			border-top-color: #000;
			transform-origin: center top;
		}
	}
}
.tippy-box[data-placement^="bottom"] {
	> .tippy-arrow {
		top: 0;
		&:before {
			top: -5px;
			left: 0;
			border-width: 0 6px 6px;
			border-bottom-color: #000;
			transform-origin: center bottom;
		}
	}
}
.tippy-box[data-placement^="left"] {
	> .tippy-arrow {
		right: 0;
		&:before {
			border-width: 6px 0 6px 6px;
			border-left-color: #000;
			right: -5px;
			transform-origin: center left;
		}
	}
}
.tippy-box[data-placement^="right"] {
	> .tippy-arrow {
		left: 0;
		&:before {
			left: -5px;
			border-width: 6px 6px 6px 0;
			border-right-color: #000;
			transform-origin: center right;
		}
	}
}
.tippy-box[data-inertia][data-state="visible"] {
	transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}
.tippy-arrow {
	width: 16px;
	height: 16px;
	color: #101828;
	&:before {
		content: "";
		position: absolute;
		border-color: transparent;
		border-style: solid;
	}
}
.tippy-content {
	position: relative;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	padding: 0.75rem;
	overflow-wrap: break-word;
	z-index: 1;
}
