$form-side: #fff;
$form-bg: #fcfcfd;
$line: #e8e8e8;
$dark: #000;
$dark-hover: #2b2b2b;
$dark-focus: #b3b5b8;
$bar: #404040;
$primary: #34d399;
$outline-color: $primary;
$secondary: #f4f5f7;
$secondary-hover: #f8f8f8;
$secondary-focus: #f8f8f8;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@mixin small-screen {
	@media screen and (max-width: 1024px) {
		@content;
	}
}

:root {
	--form-side: #{$form-side};
	--form-bg: #{$form-bg};
	--line: #{$line};
	--dark: #{$dark};
	--dark-hover: #{$dark-hover};
	--dark-focus: #{$dark-focus};
	--bar: #{$bar};
	--secondary: #{$secondary};
	--secondary-hover: #{$secondary-hover};
	--secondary-focus: #{$secondary-focus};
}

html {
	height: 100%;
	min-height: 100vh;
	width: 100%;
	line-height: 1.15;
}

body {
	overflow: overlay;
}

* {
	--scrollbar-color: rgba(0, 0, 0, 0);
}

*:hover,
*:focus,
*:focus-within {
	--scrollbar-color: #eaecf0 !important;
}

body {
	min-height: 100vh;
	text-rendering: optimizeLegibility;
	font-family:
		"Inter",
		-apple-system,
		BlinkMacSystemFont,
		Segoe UI,
		Roboto,
		Helvetica Neue,
		Helvetica,
		Arial,
		sans-serif;
	height: 100%;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

h1 {
	font-size: 1.5rem;
	line-height: 2rem;
	margin: 0 0 1rem;
	font-weight: 700;
	letter-spacing: -0.025em;
}
.inline-btn {
	width: 100%;
	column-gap: 12px;
	row-gap: 16px;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	position: relative;
	input:not([type="checkbox"]),
	.btn {
		flex: 1;
	}
	.btn.in-input {
		height: 26px;
		width: 26px;
		position: absolute;
		right: 4px;
		padding: 3px;
		~ input {
			padding-right: 40px !important;
		}
	}
}
.editor-container {
	display: flex;
	height: 100%;
	@include small-screen {
		flex-direction: column;
	}
}
.divider-title {
	position: relative;
	margin: 1rem 0;
	.line-container {
		display: flex;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		align-items: center;
		.line {
			background: #d1d5db;
			width: 100%;
			height: 1px;
			display: block;
		}
	}
	.title {
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		h2 {
			padding-right: 0.75rem;
			font-size: 1rem;
			line-height: 1.75rem;
			margin: 0;
			font-weight: 500;
			color: #111827;
			background-color: #ffffff;
		}
	}
}
nav {
	position: relative;
	z-index: 2;
}
.desc {
	position: absolute;
	left: 0;
	top: 0;
	margin: 1.25rem 1.5rem 2rem;
	z-index: 3;
	border-radius: 0.5rem;
	border-width: 1px;
	border-color: #e5e7eb;
	width: 100%;
	max-width: 24rem;
	background-color: #ffffff;
	padding: 1.25rem;
	overflow: hidden;
	box-shadow:
		0 1px 3px 0 rgba(0, 0, 0, 0.1),
		0 1px 2px 0 rgba(0, 0, 0, 0.06);

	.head {
		display: flex;
		flex-grow: 1;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 0.75rem;
		h5 {
			margin: 0;
			font-size: 1.25rem;
			line-height: 1.75rem;
			font-weight: 600;
		}
	}
	.foot {
		margin-top: 0.75rem;
	}
	p {
		color: rgb(107, 114, 128);
		margin: 0;
		& + p {
			margin-top: 0.5rem;
		}
	}
	a {
		text-decoration: none;
		color: $dark;
	}
	span {
		font-size: 0.875rem;
		line-height: 1.25rem;
		color: rgb(107, 114, 128);
	}
	&:before {
		content: "";
		z-index: -1;
		position: absolute;
		filter: blur(3rem);
		right: -50px;
		width: 15rem;
		height: 3rem;
		background: linear-gradient(to right bottom, #349dfb, #7ff21a);
		top: -40px;
	}
}
.sidebar {
	position: relative;
	flex-shrink: 0;
	overflow-y: auto;
	background-color: $form-side;
	height: 100vh;
	width: 22rem;
	-webkit-overflow-scrolling: touch;
	border-right: 1px solid #eaecf0;
	// overflow: hidden;
	-ms-overflow-style: none;
	scrollbar-width: none;
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 2.5rem;
		.logo svg {
			height: 1.5rem;
		}
	}
	&::-webkit-scrollbar {
		width: 0;
		visibility: hidden;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #00000000;
		border: 3px solid transparent;
		border-radius: 24px;
		box-shadow: 4px 0px 0px 4px var(--scrollbar-color) inset;
	}
	.content {
		padding: 1.25rem 1.5rem 2rem;
		.more {
			padding-bottom: 1.25rem;
		}
	}
	footer {
		z-index: 1;
		background: #fff;
	}
	@include small-screen {
		position: relative;
		flex-shrink: 0;
		width: 100%;
		height: auto;
		overflow: hidden;
		border-right: none;
		border-bottom: 1px solid $line;
	}
}
label {
	margin: 0;
	display: flex;
	align-items: center;
	column-gap: 10px;
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	user-select: none;
	color: #111827;
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1.5rem;
}
.fieldset {
	margin: 0;
	padding: 16px;
	border-radius: 10px;
	border: 0;
	border: 1px solid #ededed;
	background: #f9fafb;
}
.field {
	display: flex;
	width: 100%;
	display: grid;
	gap: 0.5rem;
	&.-inline {
		display: flex;
		align-items: center;
		column-gap: 16px;
		label {
			padding-bottom: 0;
		}
	}
	&.-rgpd {
		display: flex;
		// background: #f3f4f6;
		// padding: 0.75rem;
		gap: unset;
		border-radius: 8px;
		align-items: unset;
		input {
			margin-top: 0.25rem;
		}
		label {
			line-height: 1.3;
			margin-left: 0.5rem;
			display: block;
		}
	}
	p {
		font-size: 0.8125rem;
		padding-top: 0.5rem;
	}
	.dropdown {
		position: relative;
		&-toggle {
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: space-between;
			text-align: left;
			.icon {
				opacity: 0.5;
				width: 1rem;
				height: 1rem;
				flex-shrink: 0;
				margin-left: 0.5rem;
				display: block;
			}
			&.open {
				background-color: #fff;
				// border: 1px solid lighten($dark, 10%);
				outline: none;
			}
		}
		&-menu {
			z-index: 999999;
			position: absolute;
			top: 100%;
			margin-top: 8px;
			padding: 0.25rem;
			background: #fff;
			border: 1px solid #eaecf0;
			max-height: 250px;
			overflow-x: hidden;
			overflow-y: overlay;
			display: block;
			width: 100%;
			box-shadow:
				0px 12px 16px -4px rgba(16, 24, 40, 0.08),
				0px 4px 6px -2px rgba(16, 24, 40, 0.03);
			border-radius: 8px;
			span {
				padding: 10px 10px 10px 8px;
				display: flex;
				align-items: center;
				font-size: 14px;
				font-weight: 500;
				color: #101828;
				word-break: break-word;
				cursor: pointer;
				border-radius: 8px;
				.icon {
					width: 1rem;
					height: 1rem;
					flex-shrink: 0;
					margin-right: 0.5rem;
					opacity: 0;
					&.visible {
						opacity: 1;
					}
				}
				&:hover {
					background-color: #f4f4f5;
				}
			}
		}
		.badge {
			display: inline-flex;
			column-gap: 0.375rem;
			margin-left: auto;
			padding-top: 0.125rem;
			padding-bottom: 0.125rem;
			padding-left: 0.625rem;
			padding-right: 0.625rem;
			align-items: center;
			background: white;
			border: 1px solid rgb(229, 231, 235);
			border-radius: 9999px;
			font-size: 0.75rem;
			line-height: 1rem;
			font-weight: 500;
			&.-red {
				color: rgb(239, 68, 68);
			}
			&.-blue {
				color: rgb(59, 130, 246);
			}
			.dot {
				width: 0.5rem;
				color: currentColor;
				height: 0.5rem;
			}
		}
	}
	.input-file {
		position: relative;
		display: inline-block;
		text-align: left;
		width: 100%;
		height: 100%;
		align-items: center;
		&.active {
			span.label {
				opacity: 1;
			}
		}
		label.btn {
			z-index: 1;
		}
		input[type="file"] {
			height: 0;
			width: 0;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			z-index: 10;
			cursor: pointer;
		}
	}
	[type="checkbox"],
	[type="radio"] {
		--tw-shadow: 0 0 #0000;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-color: #fff;
		background-origin: border-box;
		border-color: rgb(209, 213, 219);
		border-width: 1px;
		border-style: solid;
		border-radius: 0.25rem;
		color: $dark;
		display: inline-block;
		flex-shrink: 0;
		height: 1rem;
		padding: 0;
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
		vertical-align: middle;
		margin: 0;
		outline: none;
		width: 1rem;
		background: rgb(243, 244, 246);
		outline-offset: 2px;
		transition: background 0.2s ease;
		&:focus {
			outline: 2px solid $dark;
		}
		&:checked {
			background: $dark;
			border-color: $dark;
			background-position: 50%;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			border-color: transparent;
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E");
		}
	}
	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="number"],
	input[type="tel"],
	.dropdown-toggle {
		appearance: none;
		font-family: inherit;
		width: 100%;
		padding: 8px 12px;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
		display: flex;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		padding-left: 0.75rem;
		padding-right: 0.75rem;
		border-radius: 0.375rem;
		border-width: 1px;
		width: 100%;
		height: 2.5rem;
		font-size: 0.875rem;
		line-height: 1.25rem;
		background-color: transparent;
		background-color: #ffffff;
		border-color: #d0d5dd;
		border-style: solid;
		border-radius: 8px;
		font-weight: 500;
		color: #101828;
		transition-property: color, background, border;
		transition-duration: 0.2s;
		transition-timing-function: ease;
		font-size: 14px;
		outline: none;
		outline-offset: 2px;
		&:not([readonly]):not([disabled]) {
			&:focus {
				outline: 2px solid $outline-color;
				background-color: #fff;
			}
		}
		&::placeholder {
			color: #667085;
		}
		&[disabled] {
			background: #fafafa;
			cursor: not-allowed;
		}
		&[readonly] {
			border-color: rgb(228, 228, 228);
			background-color: rgb(249, 250, 251);
		}
	}
	& + .field {
		margin-top: 1.25rem;
	}
}
.container {
	position: relative;
	background-color: #f6f6f6;
	height: 100%;
	display: grid;
	width: 100%;
	.circle {
		position: absolute;
		right: 0;
		top: 0;
		height: 54rem;
		width: 34rem;
	}
	.signature {
		display: flex;
		z-index: 1;
		padding: 2rem;
		height: 100%;
		position: relative;
		width: 100%;
		align-items: center;
		justify-content: center;

		.card {
			min-width: 40rem;
			background-color: rgb(255, 255, 255);
			border-radius: 12px;
			box-shadow:
				rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
				rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
			padding: 16px 16px 0;
			background: #fff;
			&-header {
				color: #101828;
				font-family: "Inter";
				font-style: normal;
				font-weight: 600;
				font-size: 18px;
				line-height: 28px;
			}
			&-content {
				display: flex;
			}
			@include small-screen {
				min-width: 100%;
			}
		}
	}
}
.buttons-group {
	display: flex;
	gap: 1rem;
	z-index: 9;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.separator {
	margin: 1.25rem 0;
	width: 100%;
	height: 1px;
	background-color: $line;
}
h2 {
	font-weight: 600;
	margin-top: 0;
	font-size: 18px;
	line-height: 28px;
	color: #101828;
}
p {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #475467;
	a {
		color: #475467;
	}
}
h2 {
	margin: 0;
	color: #111827;
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.75rem;
}
h3 {
	font-size: 0.75rem;
	line-height: 1rem;
	font-weight: 600;
	line-height: 1.5rem;
	color: #111827;
}
.avatar {
	padding: 0;
	border-radius: 99px;
	box-shadow:
		0px 1px 2px -5px rgba(10, 9, 11, 0.03),
		0px 1px 2px rgba(10, 9, 11, 0.02);
	width: 3rem;
	height: 3rem;
	display: flex;
	color: #d1d5db;
	align-items: center;
	justify-content: center;
	position: relative;
	&-preview {
		width: 38px;
		height: 38px;
		border-radius: 999px;
	}
	&-selection {
		column-gap: 0.75rem;
		align-items: center;
		display: flex;
	}
}
.btn {
	border: 1px solid transparent;
	padding: 0 16px;
	outline: none;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	width: 100%;
	box-shadow:
		0px 1px 2px -5px rgba(10, 9, 11, 0.03),
		0px 1px 2px rgba(10, 9, 11, 0.02);
	cursor: pointer;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	display: inline-flex;
	gap: 0.5rem;
	justify-content: center;
	color: #111827;
	background: #f1f1f1;
	align-items: center;
	border-radius: 6px;
	font-family: inherit;
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 1rem;
	transition-property: color, background, border;
	transition-duration: 0.2s;
	transition-timing-function: ease;
	outline-offset: 2px;
	svg,
	img {
		width: 1rem;
		height: 1rem;
	}
	&:focus {
		outline: 2px solid $outline-color;
	}
	&.-imagepreview {
		width: 18px;
		height: 18px;
		right: 0px;
		bottom: 0px;
		border-radius: 99px;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 0 0 0 2px white;
		background: rgb(224, 36, 36);
		position: absolute;
		outline-color: $dark;
		transition: background 0.2s ease;
		svg {
			width: 0.5rem;
			height: 0.5rem;
			fill: #fff;
			margin: 0;
		}

		&:hover {
			background: rgb(130, 10, 10);
		}
	}
	&.-default {
		width: auto;
		background: transparent;
		color: rgb(107, 114, 128);
		outline: none;
		padding-left: 0.625rem;
		padding-right: 0.625rem;
		&:hover {
			color: #111827;
		}
	}
	&.-primary {
		background: #34d399;
		color: white;
		&:hover {
			background-color: rgb(7, 182, 124);
		}
	}
	&.-black {
		background-color: $dark;
		color: #fff;

		&:hover {
			background-color: $dark-hover;
		}
	}
	&.-secondary {
		background-color: #fff;
		color: #111827;
		border-color: #d1d5db;

		&:hover {
			background: var(--secondary-hover);
		}
		&:focus {
			outline-color: $dark-focus;
		}
	}
	&.-square {
		flex-grow: 0;
		max-width: 36px;
		padding: 6px;
		aspect-ratio: 1 / 1;
	}
	&.-round {
		display: inline-flex;
		align-items: center;
		border-radius: 9999px;
		width: auto;
		background-color: #ffffff;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
		svg {
			width: 1.25rem;
			height: 1.25rem;
			color: #9ca3af;
			stroke: none;
		}
	}
	&.-circle {
		flex-grow: 0;
		width: 32px;
		height: 32px;
		padding: 6px;
		aspect-ratio: 1 / 1;
		border-radius: 999px;
	}
	&.-remove {
		width: auto;
		&:hover {
			color: #e12121;
			border-color: #e12121;
			background: #feebeb;
		}
	}
	&.-extra-small {
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		column-gap: 0.375rem;
		font-size: 0.75rem;
		line-height: 1rem;
		svg {
			width: inherit;
			height: inherit;
		}
	}
	&.-small {
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		font-size: 0.75rem;
		line-height: 1rem;
		font-weight: 500;
	}
	&[disabled] {
		cursor: not-allowed;
		opacity: 0.5;
	}
}

.flex {
	display: flex;
	align-items: center;
}

*:not(table *) {
	box-sizing: border-box;
}

.checkbox {
	height: 20px;
	&.switch {
		overflow: hidden;
		border: 0;
		border-radius: 999px;
		width: 36px;
		height: 20px;
		appearance: none;
		display: flex;
		align-items: center;
		background: #e5e7eb;
		margin: 0;
		position: relative;
		transition:
			background 0.2s ease,
			transform 0.2s ease;
		cursor: pointer;
		&:focus {
			outline-color: $dark;
		}
		&:before {
			content: "";
			width: 16px;
			height: 16px;
			transform: translatex(0);
			position: absolute;
			border-radius: 50%;
			margin: 2px;
			background: #ffffff;
			box-shadow:
				0px 1px 3px rgba(16, 24, 40, 0.1),
				0px 1px 2px rgba(16, 24, 40, 0.06);
			transition: 0.2s ease;
		}
		&:checked {
			background: $dark;
			&:before {
				transform: translatex(100%);
				background: #fff;
			}
		}
		&:checked ~ label {
			padding-bottom: 4px !important;
		}
		&[disabled] {
			cursor: not-allowed;
		}
	}
}

::selection {
	color: #fff;
	background: $dark;
}
