$form-side: #fff;
$form-bg: #fcfcfd;
$line: #e8e8e8;
$primary: #0085ff;
$primary-hover: #339dff;
$primary-focus: #1272cc;
$bar: #404040;
$secondary: #f4f5f7;
$secondary-hover: #f8f8f8;
$secondary-focus: #f8f8f8;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@mixin small-screen {
	@media screen and (max-width: 1024px) {
		@content;
	}
}

:root {
	--form-side: #{$form-side};
	--form-bg: #{$form-bg};
	--line: #{$line};
	--primary: #{$primary};
	--primary-hover: #{$primary-hover};
	--primary-focus: #{$primary-focus};
	--bar: #{$bar};
	--secondary: #{$secondary};
	--secondary-hover: #{$secondary-hover};
	--secondary-focus: #{$secondary-focus};
}

html {
	height: 100%;
	min-height: 100vh;
	width: 100%;
	line-height: 1.15;
}

body {
	overflow: overlay;
}

* {
	--scrollbar-color: rgba(0, 0, 0, 0);
}

*:hover,
*:focus,
*:focus-within {
	--scrollbar-color: #eaecf0 !important;
}

body {
	min-height: 100vh;
	text-rendering: optimizeLegibility;
	font-family:
		"Inter",
		-apple-system,
		BlinkMacSystemFont,
		Segoe UI,
		Roboto,
		Helvetica Neue,
		Helvetica,
		Arial,
		sans-serif;
	height: 100%;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

h1 {
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 700;
	letter-spacing: -0.025em;
}
.inline-btn {
	width: 100%;
	column-gap: 12px;
	row-gap: 16px;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	position: relative;
	input:not([type="checkbox"]),
	.btn {
		width: auto !important;
		flex-grow: 1;
	}
	.btn.in-input {
		height: 26px;
		width: 26px;
		position: absolute;
		right: 4px;
		padding: 3px;
		~ input {
			padding-right: 40px !important;
		}
	}
}
.editor-container {
	display: flex;
	height: 100%;
	@include small-screen {
		display: block;
		height: auto;
	}
}

.form-container {
	min-width: 320px;
	position: relative;
	flex-shrink: 0;
	overflow-y: auto;
	background-color: $form-side;
	height: 100vh;
	width: 22rem;
	-webkit-overflow-scrolling: touch;
	border-right: 1px solid #eaecf0;
	overflow-x: hidden !important;
	&::-webkit-scrollbar {
		width: 12px;
		height: 12px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #00000000;
		border: 3px solid transparent;
		border-radius: 24px;
		box-shadow: 4px 0px 0px 4px var(--scrollbar-color) inset;
	}
	.logo {
		text-decoration: none;
		padding: 24px 24px 0;
		display: flex;
		align-items: center;
		gap: 8px;
		transition: 0.2s ease;
		svg {
			width: auto;
			height: 24px;
		}
		&:hover {
			opacity: 0.6;
		}
	}
	.content {
		padding: 24px 24px 0;
		.desc {
			padding: 16px;
			border-radius: 8px;
			background: #f9fafb;
			display: flex;
			align-items: flex-start;
			flex-flow: column;
			gap: 0.5rem;
			p {
				color: rgb(55, 65, 81);
				margin: 0;
			}
			.news {
				background: rgb(219, 234, 254);
				border-radius: 4px;
				display: inline-flex;
				font-size: 12px;
				padding: 2px 10px;
				font-weight: 500;
				color: rgb(37, 99, 235);
			}
		}
		.more {
			z-index: 1000;
			will-change: height, opacity, filter;
			opacity: 1;
			filter: blur(0);
			position: relative;
			transition: height 0.2s ease;
			&.hidden {
				height: 0;
				z-index: 0;
				pointer-events: none;
				user-select: none;
				-webkit-user-select: none;
				opacity: 0.4;
				filter: blur(6px);
			}
		}
		footer {
			z-index: 1;
			padding-top: 1.25rem;
			padding-bottom: 1.25rem;
			position: relative;
		}
	}
	@include small-screen {
		position: relative;
		flex-shrink: 0;
		width: 100%;
		height: auto;
		overflow: hidden;
		border-right: none;
		border-bottom: 1px solid $line;
	}
}
label {
	margin: 0;
	display: flex;
	align-items: center;
	column-gap: 10px;
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #344054;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 500;
	line-height: 1;
}
.fieldset {
	margin: 0;
	padding: 16px;
	border-radius: 10px;
	border: 1px solid $line;
	background: #f9fafb;
}
.field {
	display: flex;
	width: 100%;
	display: grid;
	gap: 0.5rem;
	&.-inline {
		display: flex;
		align-items: center;
		column-gap: 16px;
		flex-flow: row wrap;
		label {
			padding-bottom: 0;
		}
	}
	p {
		font-size: 0.8125rem;
		padding-top: 0.5rem;
	}
	.dropdown {
		position: relative;
		&-toggle {
			cursor: pointer;
			text-align: left;
			background-size: 20px;
			background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 7.5L10 12.5L15 7.5' stroke='%23667085' stroke-width='1.66667' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-position:
				right 10px top 50%,
				0 0;
			&.open {
				background-color: #fff;
				border: 1px solid lighten($primary, 10%);
				box-shadow:
					0px 1px 2px rgba(16, 24, 40, 0.05),
					0px 0px 0px 4px rgba($primary, 0.09);
				outline: none;
			}
		}
		&-menu {
			z-index: 999999;
			position: absolute;
			top: 100%;
			margin-top: 8px;
			background: #fff;
			border: 1px solid #eaecf0;
			padding: 6px 4px;
			max-height: 250px;
			overflow-x: hidden;
			overflow-y: overlay;
			display: block;
			width: 100%;
			box-shadow:
				0px 12px 16px -4px rgba(16, 24, 40, 0.08),
				0px 4px 6px -2px rgba(16, 24, 40, 0.03);
			border-radius: 8px;
			span {
				padding: 10px 10px 10px 8px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 14px;
				font-weight: 500;
				color: #101828;
				word-break: break-word;
				cursor: pointer;
				border-radius: 8px;
				&:hover {
					background-color: #f9fafb;
				}
			}
		}
	}
	.input-file {
		position: relative;
		display: inline-block;
		text-align: left;
		width: 100%;
		height: 100%;
		align-items: center;
		&.active {
			span.label {
				opacity: 1;
			}
		}
		label.btn {
			z-index: 1;
		}
		input[type="file"] {
			height: 0;
			width: 0;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			z-index: 10;
			cursor: pointer;
		}
	}
	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="number"],
	input[type="tel"],
	.dropdown-toggle {
		appearance: none;
		font-family: inherit;
		width: 100%;
		padding: 8px 12px;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
		display: flex;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		padding-left: 0.75rem;
		padding-right: 0.75rem;
		border-radius: 0.375rem;
		border-width: 1px;
		width: 100%;
		height: 2.5rem;
		font-size: 0.875rem;
		line-height: 1.25rem;
		background-color: transparent;
		background-color: #ffffff;
		border-color: #d0d5dd;
		border-style: solid;
		border-radius: 8px;
		font-weight: 500;
		color: #101828;
		transition-property: color, background, border;
		transition-duration: 0.2s;
		transition-timing-function: ease;
		font-size: 14px;
		outline-offset: 2px;
		&:focus {
			outline: 2px solid rgb(166, 166, 172);
			background-color: #fff;
		}
		&::placeholder {
			color: #667085;
		}
		&[disabled] {
			background: #fafafa;
			cursor: not-allowed;
		}
	}
	& + .field {
		margin-top: 20px;
	}
}
.preview-container {
	background-color: #f9fafb;
	background-image: url("/bg.png");
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 90%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	overflow-y: auto;
	@include small-screen {
		margin-left: 0;
		flex-shrink: 0;
		padding: 3rem;
	}
	.sign {
		min-width: 650px;
		min-height: 245px;
		display: flex;
		flex-direction: column;
		background-color: rgb(255, 255, 255);
		border-radius: 12px;
		box-shadow:
			rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
			rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
		padding: 16px 16px 0;
		background: #fff;
		&-header {
			color: #101828;
			font-family: "Inter";
			font-style: normal;
			font-weight: 600;
			font-size: 18px;
			line-height: 28px;
		}
		&-content {
			display: flex;
		}
		@include small-screen {
			min-width: 100%;
		}
	}
}
.buttons-group {
	display: flex;
	gap: 1.25rem;
	z-index: 9;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.separator {
	margin: 20px 0;
	width: 100%;
	height: 1px;
	background-color: $line;
}
h2 {
	font-weight: 600;
	margin-top: 0;
	font-size: 18px;
	line-height: 28px;
	color: #101828;
}
p {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #475467;
	a {
		color: #475467;
	}
}
h3 {
	font-weight: 500;
	font-size: 1rem;
	margin: 1rem 0;
	color: #172b4d;
}
.btn {
	border: 1px solid transparent;
	padding: 0 16px;
	outline: none;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
	width: 100%;
	box-shadow:
		0px 1px 2px -5px rgba(10, 9, 11, 0.03),
		0px 1px 2px rgba(10, 9, 11, 0.02);
	cursor: pointer;
	height: 36px;
	display: inline-flex;
	justify-content: center;
	gap: 8px;
	color: #5f5f61;
	background: #f1f1f1;
	align-items: center;
	border-radius: 6px;
	font-family: inherit;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	transition-property: color, background, border;
	transition-duration: 0.2s;
	transition-timing-function: ease;
	outline-offset: 2px;
	svg,
	img {
		width: 18px;
		height: 18px;
		stroke: currentColor;
	}
	&:focus {
		// box-shadow:
		// 	0px 0px 0px 1px #ffffff,
		// 	0px 0px 0px 3px #dcdcde;
		outline: 2px solid rgb(166, 166, 172);
	}
	&.-primary {
		background-color: $primary;
		color: #fff;

		&:hover {
			background-color: $primary-hover;
		}
		&:focus {
			background-color: #1877f2;
		}
	}

	&.-secondary {
		background-color: #fff;
		color: #42526e;
		border-color: #d0d5dd;

		&:hover {
			background: var(--secondary-hover);
		}
		&:focus {
			background: var(--secondary-focus);
		}
	}
	&.-teams {
		font-weight: 600;
		color: #5059c9;
	}
	&.-square {
		flex-grow: 0;
		max-width: 36px;
		padding: 6px;
		aspect-ratio: 1 / 1;
	}

	&.-remove {
		width: auto;
		&:hover {
			color: #e12121;
			border-color: #e12121;
			background: #feebeb;
		}
	}

	&[disabled] {
		cursor: not-allowed;
		opacity: 0.5;
	}
}

.feedback {
	padding: 12px;
	font-size: 14px;
	background-color: $form-bg;
	border-radius: 4px;
	margin-top: 16px;
	color: #00112c;
	max-width: 600px;
}

.create-mail {
	border-radius: 8px;
	padding: 24px;

	.header {
		.bar {
			font-size: 11px;
			padding: 8px 12px;
			background-color: $bar;
			color: #fff;
		}
	}
}

.recipients-line {
	display: flex;
	font-size: 12px;
	height: 18px;

	div {
		&:first-child {
			opacity: 0.6;
			width: 32px;
		}
	}
}

.mockup {
	padding: 0 0 18px;
	margin: auto;
	display: flex;
	width: 560px;
	border-radius: 4px;
	background: #fff;
	border: 1px solid #dbdcdd;
	.left {
		display: flex;
		align-items: center;
		padding: 0 16px;
		height: 80px;
		.avatar {
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			vertical-align: baseline;
			border-radius: 50%;
			background-color: #750b1c;
			span {
				font-size: 16px;
				font-weight: 500;
				color: #fff;
			}
		}
	}
	.right {
		width: 100%;
	}
	.header {
		padding-top: 20px;
		padding-right: 16px;
		.user {
			display: flex;
			align-items: center;
			.user-data {
				display: flex;
				flex: 1;
				flex-direction: column;
				font-size: 14px;
				font-weight: 400;
				span:first-child {
					font-size: 16px;
					small {
						margin-left: 5px;
						color: #5e5e5e;
						font-size: 12px;
					}
				}
				.to {
					display: flex;
					align-items: center;
					justify-content: space-between;
					font-size: 12pt;
					font-family: Calibri, Arial, Helvetica, sans-serif;
					margin: 4px 0 0;
					color: #5e5e5e;
					.date {
						font-size: 10pt;
						float: right;
						margin-left: auto;
						color: #808080;
					}
				}
			}
		}
	}
	.content {
		margin: 0;
		margin-top: 20px;
		color: #242424;
		padding-right: 16px;
		vertical-align: baseline;
		font-size: 12pt;
		font-family: Calibri, Arial, Helvetica, sans-serif;
		font-weight: 400;
		.text {
			outline: none;
			p {
				font-family: verdana, sans-serif;
				color: #000;
				font:
					small/1.5 Arial,
					Helvetica,
					sans-serif;
				margin-top: 0;
				&:not(:last-child) {
					margin-bottom: 16px;
				}
			}
			&:focus {
				padding: 5px;
				background: #ebf3fc;
			}
			::selection {
				color: white;
				background: #0c3b5e;
			}
		}
	}
	footer {
		margin: 12px 16px 0 46px;
		.fade-btn {
			color: #0c3b5e;
			font-family:
				"Segoe UI",
				"Segoe UI Web (West European)",
				"Segoe UI",
				-apple-system,
				BlinkMacSystemFont,
				Roboto,
				"Helvetica Neue",
				sans-serif;
			border: 1px solid #e0e0e0;
			font-weight: 600;
			margin-top: 4px;
			border-radius: 4px;
			min-width: 0;
			cursor: pointer;
			padding: 0px 8px;
			font-size: 14px;
			text-decoration: none;
			text-align: center;
			user-select: none;
			-webkit-user-select: none;
			height: 32px;
			background-color: transparent;
			display: inline-block;
			&:hover {
				background: #ebf3fc;
			}
		}
	}
	::selection {
		background: transparent;
	}
	@include small-screen {
		width: 100%;
		border: 0;
	}
}

*:not(table *) {
	box-sizing: border-box;
}

.checkbox {
	height: 20px;
	&.switch {
		overflow: hidden;
		border: 0;
		border-radius: 999px;
		width: 36px;
		appearance: none;
		display: flex;
		align-items: center;
		background: #f2f4f7;
		margin: 0;
		position: relative;
		transition: 0.1s ease;
		cursor: pointer;
		&:before {
			content: "";
			width: 16px;
			height: 16px;
			transform: translatex(0);
			position: absolute;
			border-radius: 50%;
			margin: 2px;
			background: #ffffff;
			box-shadow:
				0px 1px 3px rgba(16, 24, 40, 0.1),
				0px 1px 2px rgba(16, 24, 40, 0.06);
			transition: 0.2s ease;
		}
		&:not([disabled], :checked):hover {
			background: #e2e8f0;
		}
		&:checked {
			background: $primary;
			&:before {
				transform: translatex(100%);
				background: #fff;
			}
		}
		&:checked ~ label {
			padding-bottom: 4px !important;
		}
		&[disabled] {
			cursor: not-allowed;
		}
	}
}
